<td id="<%= dom_id(@movie)%>_<%= @field %>">

  <%= form_with(model: @movie, :id => "edit_field_form", local: false) do |form| %>

  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% @movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <% case @field
       when "title" %>
        <div class="field">
          <%= form.text_field :title %>
        </div>
      <% when "year" %>
        <div class="field">
          <%= form.number_field :year %>
        </div>
      <% when "year" %>
        <div class="field">
          <%= form.number_field :year %>
        </div>
      <% when "director" %>
        <div class="field">
          <%= form.collection_select :director_id, Director.order(:name),:id,:name, {}, onchange: 'Rails.fire(this.form, "submit")' %>
        </div>
      <% when "duration" %>
        <div class="field">
          <%= form.number_field :duration %>
        </div>
      <% else %>
        <div class="field">
          Something went wrong.
        </div>
    <% end %>

  <% end %>

</td>