
<tr id="<%= dom_id(@movie) %>">
  <td id="<%= dom_id(movie) %>_title" class="align-middle"><%= link_to movie.title, edit_field_path(movie, :field => "title"), remote: true %></td>
  <td id="<%= dom_id(movie) %>_year" class="align-middle"><%= link_to movie.year, edit_field_path(movie, :field => "year"), remote: true %></td>
  <td id="<%= dom_id(movie) %>_director" class="align-middle"><%= link_to movie.director.name, edit_field_path(movie, :field => "director"), remote: true %></td>
  <td id="<%= dom_id(movie) %>_description" class="align-middle"><%= @movie.description %></td>
  <td id="<%= dom_id(movie) %>_duration" class="align-middle"><%= link_to movie.duration, edit_field_path(movie, :field => "duration"), remote: true %></td>
  <td id="<%= dom_id(movie) %>_destroy" class="align-middle"><%= link_to 'Destroy', movie, method: :delete, remote: true %></td>
</tr>